<div class="container">
  <div class="headerContainer">
    <div class="leftHeaderContainer">
      <div class="leftHeaderContainerStack">
        <div class="leftHeaderRowContainer">
          <span class="material-icons" (click)="delete()">delete</span>

          <h1>{{ restaurant.details.name }}</h1>
        </div>
        <div *ngIf="errorMsg != ''">
          <p>{{ errorMsg }}</p>
        </div>
        <h2>{{ restaurant._id }}</h2>
      </div>
    </div>
    <div class="rightHeaderContainer">
      <button class="buttonClass" (click)="submitForm()">SUBMIT</button>
      <button class="buttonClass" (click)="cancel()">CANCEL</button>
      <button class="buttonClass" (click)="logout()">LOGOUT</button>
    </div>
  </div>

  <div class="bottomContainer">
    <div class="bottomLeftContainer">
      <div class="inputContainer">
        <h1>DETAILS:</h1>
        <input
        type="file"
        id="fileInput"
        class="hiddenInput"
        (change)="onFileSelected($event)"
        name="logo"
      />
        <label for="fileInput" class="linkLike">Upload Logo</label>
      </div>

      <div class="inputContainer">
        <h2>NAME:</h2>
        <input
          type="text"
          class="formInput"
          [(ngModel)]="restaurant.details.name"
          name="name"
          aria-label="Name"
          placeholder="Enter Name"
          required
        />
      </div>

      <div class="inputContainer">
        <h2>PHONE:</h2>
        <input
          type="string"
          class="formInput"
          aria-label="phone"
          placeholder="Enter Phone Number"
          [(ngModel)]="restaurant.details.phone"
          name="phone"
        />
      </div>

      <div class="inputContainer">
        <h2>DESC:</h2>
        <textarea
          [(ngModel)]="restaurant.details.description"
          name="inputDescription"
          aria-label="inputDescription"
          placeholder="Enter Description"
          class="formInputTextBox"
        ></textarea>
      </div>

      <div class="inputContainer">
        <h2>STREET:</h2>
        <input
          type="string"
          class="formInput"
          [(ngModel)]="restaurant.details.location.address"
          aria-label="address"
          placeholder="Enter Street Address"
          name="address"
        />
      </div>

      <div class="inputContainer">
        <h2>CITY:</h2>
        <input
          type="string"
          class="formInput"
          [(ngModel)]="restaurant.details.location.city"
          aria-label="city"
          placeholder="Enter City"
          name="city"
        />
      </div>

      <div class="inputContainer">
        <h2>STATE:</h2>
        <input
          type="string"
          class="formInputSmall"
          [(ngModel)]="restaurant.details.location.state"
          aria-label="state"
          placeholder="State"
          name="state"
        />
        <h2>ZIP:</h2>
        <input
          type="string"
          class="formInputSmall"
          [(ngModel)]="restaurant.details.location.zipCode"
          aria-label="zipCode"
          placeholder="Zip"
          name="zipCode"
        />
      </div>
    </div>
    <div class="bottomMiddleContainer">
      <h1>HOURS:</h1>

      <div class="inputContainer">
        <h2>MON:</h2>
        <input
          aria-label="monday.isOpen"
          type="checkbox"
          class="formInputBox"
          [(ngModel)]="restaurant.details.operatingHours.monday.isOpen"
          name="monday.isOpen"
        />
        <input
          type="time"
          aria-label="monday.open"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.monday.open"
          name="mondayOpen"
          [disabled]="!restaurant.details.operatingHours.monday.isOpen"
        />
        <input
          aria-label="monday.close"
          type="time"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.monday.close"
          name="mondayClose"
          [disabled]="!restaurant.details.operatingHours.monday.isOpen"
        />
      </div>

      <div class="inputContainer">
        <h2>TUES:</h2>

        <input
          aria-label="tuesday.isOpen"
          type="checkbox"
          class="formInputBox"
          [(ngModel)]="restaurant.details.operatingHours.tuesday.isOpen"
          name="tuesday.isOpen"
        />
        <input
          aria-label="tuesday.open"
          type="time"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.tuesday.open"
          name="tuesdayOpen"
          [disabled]="!restaurant.details.operatingHours.tuesday.isOpen"
        />
        <input
          aria-label="tuesday.close"
          type="time"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.tuesday.close"
          name="tuesdayClose"
          [disabled]="!restaurant.details.operatingHours.tuesday.isOpen"
        />
      </div>

      <div class="inputContainer">
        <h2>WED:</h2>

        <input
          aria-label="wednesday.isOpen"
          type="checkbox"
          class="formInputBox"
          [(ngModel)]="restaurant.details.operatingHours.wednesday.isOpen"
          name="wednesday.isOpen"
        />
        <input
          aria-label="wednesday.open"
          type="time"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.wednesday.open"
          name="wednesdayOpen"
          [disabled]="!restaurant.details.operatingHours.wednesday.isOpen"
        />
        <input
          aria-label="wednesday.close"
          type="time"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.wednesday.close"
          name="wednesdayClose"
          [disabled]="!restaurant.details.operatingHours.wednesday.isOpen"
        />
      </div>

      <div class="inputContainer">
        <h2>THUR:</h2>
        <input
          aria-label="thursday.isOpen"
          type="checkbox"
          class="formInputBox"
          [(ngModel)]="restaurant.details.operatingHours.thursday.isOpen"
          name="thursday.isOpen"
        />
        <input
          aria-label="thursday.open"
          type="time"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.thursday.open"
          name="thursdayOpen"
          [disabled]="!restaurant.details.operatingHours.thursday.isOpen"
        />
        <input
          aria-label="thursday.close"
          type="time"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.thursday.close"
          name="thursdayClose"
          [disabled]="!restaurant.details.operatingHours.thursday.isOpen"
        />
      </div>

      <div class="inputContainer">
        <h2>FRI:</h2>
        <input
          aria-label="friday.isOpen"
          type="checkbox"
          class="formInputBox"
          [(ngModel)]="restaurant.details.operatingHours.friday.isOpen"
          name="friday.isOpen"
        />
        <input
          aria-label="friday.open"
          type="time"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.friday.open"
          name="fridayOpen"
          [disabled]="!restaurant.details.operatingHours.friday.isOpen"
        />
        <input
          aria-label="friday.close"
          type="time"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.friday.close"
          name="fridayClose"
          [disabled]="!restaurant.details.operatingHours.friday.isOpen"
        />
      </div>

      <div class="inputContainer">
        <h2>SAT:</h2>

        <input
          aria-label="saturday.isOpen"
          type="checkbox"
          class="formInputBox"
          [(ngModel)]="restaurant.details.operatingHours.saturday.isOpen"
          name="saturday.isOpen"
        />
        <input
          aria-label="saturday.open"
          type="time"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.saturday.open"
          name="saturdayOpen"
          [disabled]="!restaurant.details.operatingHours.saturday.isOpen"
        />
        <input
          aria-label="saturday.close"
          type="time"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.saturday.close"
          name="saturdayClose"
          [disabled]="!restaurant.details.operatingHours.saturday.isOpen"
        />
      </div>

      <div class="inputContainer">
        <h2>SUN:</h2>
        <input
          aria-label="sunday.isOpen"
          type="checkbox"
          class="formInputBox"
          [(ngModel)]="restaurant.details.operatingHours.sunday.isOpen"
          name="sunday.isOpen"
        />
        <input
          aria-label="sunday.open"
          type="time"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.sunday.open"
          name="sundayOpen"
          [disabled]="!restaurant.details.operatingHours.sunday.isOpen"
        />
        <input
          aria-label="sunday.close"
          type="time"
          class="formInputTime"
          [(ngModel)]="restaurant.details.operatingHours.sunday.close"
          name="sundayClose"
          [disabled]="!restaurant.details.operatingHours.sunday.isOpen"
        />
      </div>
      <div class="inputContainer">
        <h2>ORDERS ENABLED?</h2>
        <input
          aria-label="ordersEnabled"
          type="checkbox"
          class="formInputBox"
          [(ngModel)]="restaurant.details.ordersEnabled"
          name="ordersEnabled"
        />
      </div>
    </div>

    <div class="bottomRightContainer">
      <h1>BACKEND:</h1>
      <div class="inputContainer">
        <h2>FIXED RATE:</h2>

        <input
          aria-label="fixedRate"
          placeholder="Rate"
          type="string"
          class="formInput"
          [(ngModel)]="restaurant.admin.fixedRate"
          name="fixedRate"
        />
      </div>

      <div class="inputContainer">
        <h2>IS ACTIVE?</h2>
        <input
          aria-label="isActive"
          type="checkbox"
          class="formInputBox"
          [(ngModel)]="restaurant.admin.isActive"
          name="isActive"
        />
      </div>
      <h1>STRIPE:</h1>
      <div class="inputContainer">
        <h2>STRIPE ID:</h2>
        <input
          aria-label="stripeAccountId"
          placeholder="Stripe ID"
          type="string"
          class="formInputStripe"
          [(ngModel)]="restaurant.stripe.stripeAccountId"
          name="stripeAccountId"
        />
      </div>

      <div class="inputContainer">
        <h2>ADD FEES?</h2>

        <input
          aria-label="addFees"
          type="checkbox"
          class="formInputBox"
          [(ngModel)]="restaurant.stripe.addFees"
          name="addFees"
        />
      </div>
      <div class="inputContainer">
        <a for="fileInput" class="linkLike" (click)="openOwnerDialog()"
          >OWNER ADD / EDIT</a
        >
      </div>
    </div>
  </div>
</div>
