<div class="container">
  <div class="header">
    <input class="searchbar" type="text" placeholder="Search For Restaurant Name..." [(ngModel)]="searchTerm" (input)="searchRestaurants(searchTerm)" />

    
    <div class="buttonContainer">
      <button class="buttonClass" (click)="addRestaurant()">New Restaurant</button>
      <button class="buttonClass" (click)="logout()">Logout</button>
    </div>
  </div>

  <!-- Fixed ngIf directive below -->
  <div class="restaurantContainer" *ngIf="restaurants.length > 0">
    <div
      class="restaurantCard"
      *ngFor="let restaurant of filteredRestaurants"
      (click)="restaurant._id ? restaurantPage(restaurant._id) : null"
    >
      <h3>{{ restaurant.details.name }}</h3>
      <h4>
        <span *ngIf="restaurant.admin.isActive; else notLive">Live</span>
        <ng-template #notLive>Not Live</ng-template>
      </h4>
      <h5>Overall Income: ${{ restaurant.admin.overallIncome - 0.01 | number:'1.2-2'  }}</h5>
      <h6>ID: {{ restaurant._id }}</h6>
    </div>
  </div>
  <div class="notAdded" *ngIf="restaurants.length < 1">
    <h1>No Restaurants Have Been Added Yet...</h1>
  </div>

</div>




    <!-- <form [formGroup]="formGroup">
      <p-autoComplete formControlName="selectedRestaurant" [suggestions]="filteredRestaurants" (completeMethod)="filterRestaurants($event)" field="details.name" placeholder="Search Restaurants"></p-autoComplete>
    </form> -->

