h1,
h2,
h3,
h4,
p,
a {
  font-family: "JetBrainsMono";
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--offWhite);
}

.header{
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
}

.header .buttonClass{
  background: none;        /* Remove background color */
  width: auto;             /* Adjust width as necessary */
  height: auto;            /* Adjust height as necessary */
  padding: 0; 
  text-align: center;
  font-family: "JetBrainsMono";
  font-size: 1.5rem;
  color: var(--darkestBlue) !important;
  cursor: pointer;
  border: none;
  text-shadow:
  -0.3px -0.3px 0 var(--lightBlue2),  
  0.3px 0.3px 0 var(--lightBlue2),
  -0.3px -0.3px 0 var(--lightBlue2),
  0.3px 0.3px 0 var(--lightBlue2);
}
.header .buttonContainer{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-right: 6rem;
}

.header .buttonClass:hover {
  text-decoration: underline;

}

.header .searchbar{
  width: 28rem;
  height: 2.5rem;
  border-bottom: 0.15rem solid var(--darkestBlue);
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  font-family: "JetBrainsMono";
  font-size: 1.25rem;
  letter-spacing: .043125rem;
  color: var(--darkestBlue) !important;
  caret-color: var(--darkestBlue);
}

.header .searchbar::placeholder {
  color: var(--darkestBlue) !important;
  font-size: 1.25rem;
}
.header .searchbar:focus {
  outline: none;
}
.header .searchbar:-webkit-autofill,
.header .searchbar:-webkit-autofill:hover,
.header .searchbar:-webkit-autofill:focus,
.header .searchbar:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: var(--darkestBlue) !important;
  font-family: "JetBrainsMono", sans-serif;
  font-size: 1.25rem;
}

.header .searchbar:-webkit-autofill::first-line {
  font-family: "JetBrainsMono", sans-serif;
  font-size: 1.25rem;
}

.header .searchbar:-webkit-autofill {
  -webkit-box-shadow: none;
  background-color: none;
  font-family: "JetBrainsMono" !important;
  font-size: 1.25rem !important;
}

.header .searchbar:focus::placeholder {
  color: transparent;
}

.header .searchbar::placeholder {
  color: var(--darkestBlue);
  font-size: 1rem;
}
.header .searchbar:focus {
  outline: none;
}
.header .searchbar:-webkit-autofill,
.header .searchbar:-webkit-autofill:hover,
.header .searchbar:-webkit-autofill:focus,
.header .searchbar:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--lightTan) !important;
}
.header .searchbar:focus::placeholder {
  color: transparent;
}

.restaurantContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Space between to handle multiple cards */
  gap: 20px; /* Space between cards */
  padding-top: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Individual restaurant item styling */
.restaurantContainer .restaurantItem {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%; /* Card width to fit three cards per row */
  padding: 20px;
  font-weight: 100;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth transform on hover */
  font-family: "JetBrainsMono";
  justify-content: center;
  align-items: center;

}

.restaurantContainer .restaurantItem:hover {
  transform: translateY(-5px); /* Slight raise effect on hover */
  background-color: var(--offWhite2);
}

.restaurantItem h3{
  font-size: 1.5rem;
}

@media (max-width: 660px) {
  .header{
    height: 10vh;
    flex-direction: column;
  }

  .header .searchbar{
    margin-bottom: 1rem;
  }

  .header .buttonContainer{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 0rem;
  }
}

@media (max-width: 440px) {
  .header .searchbar{
    width: 15rem;
  }
}



/* .container {
  display: flex;
  min-height: 100vh;
  background-color: var(--darkestBlue);
  overflow: hidden;
}

.leftContainer {
  width: 53.23vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.875rem;
  height: 100vh;
  overflow: auto;
}

.leftContainer .searchBarContainer .searchbar {
  width: 56.25rem;
  height: 6rem;
  border-radius: 6.25rem;
  border: none;
  text-align: center;
  font-size: 2.3125rem;
  margin-bottom: 2.875rem;
}

.leftContainer .searchbar::placeholder {
  color: var(--darkestBlue);
  font-size: 2.3125rem;
}
.leftContainer .searchbar:focus {
  outline: none;
}
.leftContainer .searchbar:-webkit-autofill,
.leftContainer .searchbar:-webkit-autofill:hover,
.leftContainer .searchbar:-webkit-autofill:focus,
.leftContainer .searchbar:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--lightTan) !important;
}
.leftContainer .searchbar:focus::placeholder {
  color: transparent;
}

.leftContainer .restaurantContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.875rem;
}

.leftContainer .restaurantContainer .restaurantItem {
  background-color: var(--lightTan);
  height: 10.625rem;
  width: 26.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--darkestBlue);
  cursor: pointer;
}

.leftContainer .restaurantContainer .restaurantItem h3 {
  margin-bottom: 0.5rem;
  font-family: "JetBrainsMono";
  font-size: 1.5rem;
}

.leftContainer .restaurantContainer .restaurantItem p {
  font-family: "JetBrainsMono";
  font-size: 1rem;
}

.rightContainer {
  width: 46.77vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rightContainer .buttonsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 5.5rem;
  margin-bottom: 5.375rem;
}

.rightContainer .buttonsContainer button {
  border-radius: 6.25rem;
  width: 14.9375rem;
  height: 6rem;
  background-color: var(--darkerBlue);
  margin: 1rem;
  font-family: "JetBrainsMono";
  font-size: 1.375rem;
  color: var(--darkestBlue);
  cursor: pointer;
  border: none;
}

.rightContainer .branding {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightContainer h2 {
  font-family: "JetBrainsMono";
  font-size: 2.125rem;
  color: var(--lightTan);
  margin-bottom: 5.375rem;
}

.rightContainer .branding h1 {
  font-family: "JetBrainsMono";
  font-size: 8.0625rem;
  line-height: 9.375rem;
  text-align: center;
  letter-spacing: 1.45125rem;
  color: var(--lightBlue);
  margin-bottom: 4.75rem;
  font-weight: 300;
  overflow: hidden;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    2px 1px 0 #000;
}

.rightContainer .branding h2 {
  font-family: "JetBrainsMono";
  font-size: 2.1875rem;
  line-height: 4.875rem;
  text-align: center;
  letter-spacing: 0.48125rem;
  color: var(--lightTan);
  font-weight: 100;
} */
