.container {
  display: flex;
  min-height: 100vh; /* Cover the full viewport height */
  background-color: var(--darkestBlue);
  overflow: hidden;
}

.leftContainer {
  width: 53.23vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.875rem;
  height: 100vh;
  overflow: auto;

}




.leftContainer .searchBarContainer .searchbar{
  width: 56.25rem;
  height: 6rem;
  border-radius: 6.25rem;
  border: none;
  text-align: center;
  font-size: 2.3125rem;
  margin-bottom: 2.875rem;

}

.leftContainer .searchbar::placeholder {
  color: var(--darkestBlue);
  font-size: 2.3125rem;



}
.leftContainer .searchbar:focus {
  outline: none;
  
}
.leftContainer .searchbar:-webkit-autofill,
.leftContainer .searchbar:-webkit-autofill:hover, 
.leftContainer .searchbar:-webkit-autofill:focus, 
.leftContainer .searchbar:-webkit-autofill:active  {
  transition: background-color 5000s ease-in-out 0s; /* Attempt to delay the autofill style */
  -webkit-text-fill-color: var(--lightTan) !important;
}
.leftContainer .searchbar:focus::placeholder {
  color: transparent;
}


.leftContainer .restaurantContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.875rem;


}

.leftContainer .restaurantContainer .restaurantItem{
  background-color: var(--lightTan);
  height:10.625rem;
  width: 26.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--darkestBlue);
  cursor: pointer;
}

.leftContainer .restaurantContainer .restaurantItem h3{
  margin-bottom: .5rem;
  font-family: 'JetBrainsMono';
  font-size: 1.5rem;
}

.leftContainer .restaurantContainer .restaurantItem p{
  font-family: 'JetBrainsMono';
  font-size: 1rem;
}

.rightContainer {
  width: 46.77vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.rightContainer .buttonsContainer{
  display: flex;
  justify-content: space-around;
  margin-top: 5.5rem;
  margin-bottom: 5.375rem;
}

.rightContainer .buttonsContainer button{
  border-radius: 6.25rem;
  width: 14.9375rem;
  height: 6rem;
  background-color: var(--darkerBlue);
  margin: 1rem;
  font-family: 'JetBrainsMono';
  font-size: 1.375rem;
  color: var(--darkestBlue);
  cursor: pointer;
  border: none;

}

.rightContainer .branding{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightContainer h2{
  font-family: 'JetBrainsMono';
  font-size: 2.125rem;
  color: var(--lightTan);
  margin-bottom: 5.375rem;
}

.rightContainer .branding h1{
  font-family: 'JetBrainsMono';
  font-size: 8.0625rem;
  line-height: 9.375rem;
  text-align: center;
  letter-spacing: 1.45125rem;
  color: var(--lightBlue);
  margin-bottom: 4.75rem;
  font-weight: 300;
  overflow: hidden;
  text-shadow: 
  -1px -1px 0 #000,  
   1px -1px 0 #000,
  -1px  1px 0 #000,
   2px  1px 0 #000; /* Stroke effect */
}

.rightContainer .branding h2{
  font-family: 'JetBrainsMono';
  font-size: 2.1875rem;
  line-height: 4.875rem;
  text-align: center;
  letter-spacing: 0.48125rem;
  color: var(--lightTan);
  font-weight: 100;

}
