<div class="container">
  <div #alertContainer></div>

  <div class="header">
    <div class="searchAndLoading">
      <input
      class="searchbar"
      type="text"
      placeholder="Search For Restaurant Name..."
      [(ngModel)]="searchTerm"
      (input)="searchRestaurants(searchTerm)"
    />
    <mat-spinner [diameter]="30" class="loadingHeader" *ngIf="loadingService.getLoading() && loadingService.getLoadingItem() === 'search' && searchTerm != ''"  mode="indeterminate"></mat-spinner>


    </div>

    <div class="buttonContainer">
      <button class="buttonClass" (click)="addRestaurant()">
        New Restaurant
      </button>
      <button class="buttonClass" (click)="logout()">Logout</button>
    </div>
  </div>

  <div class="restaurantContainer" *ngIf="restaurants.length > 0">
    <mat-card class="card" *ngFor="let restaurant of filteredRestaurants">
      <mat-card-subtitle
        ><p>{{ restaurant._id }}</p></mat-card-subtitle
      >
      <mat-card-title class="cardHeader"
        ><p>{{ restaurant.details.name }}</p></mat-card-title
      >
      <mat-divider></mat-divider>
      <mat-card-content
        >Overall Income: ${{
          restaurant.admin.overallIncome - 0.01 | number : "1.2-2"
        }}</mat-card-content
      >
      <mat-divider></mat-divider>

      <mat-card-actions align="end" *ngIf="!this.deleteDialog" >
        <button
          class="cardButton"
          (click)="restaurant._id ? restaurantPage(restaurant._id) : null"
          mat-button
        >
          Edit
        </button>
        <button class="cardButton" (click)="restaurant._id ? delete(restaurant._id) : null" mat-button>Delete</button>
      </mat-card-actions>
      <div class="deleteConfirm" *ngIf="this.deleteDialog && this.editingRestaurantId == restaurant._id">
        <p>Are you sure you want to delete <br>{{ restaurant.details.name }}</p>
        <div class="buttonContainer">
        <button class="cardButton" (click)="cancel()" mat-button>Cancel</button>
        <button class="cardButtonDelete" (click)="confirmDelete(restaurant._id)" mat-button>Delete</button>
      </div>
      </div>
    <mat-card-footer>
      <mat-progress-bar *ngIf="loadingService.getLoading() && this.editingRestaurantId === restaurant._id && loadingService.getLoadingItem() === 'delete'" mode="indeterminate"></mat-progress-bar>

        <mat-progress-bar *ngIf="loadingService.getLoading() && this.editingRestaurantId === restaurant._id && loadingService.getLoadingItem() === 'edit'" mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>

    </mat-card>

    <div class="notAdded" *ngIf="restaurants.length < 1">
      <h1>No Restaurants Have Been Added Yet...</h1>
    </div>

    <div class="notAdded" *ngIf="filteredRestaurants.length < 1">
      <h1>No Restaurants Have Been Found With That Search...</h1>
    </div>
  </div>

    <div class="loadingContainer" *ngIf="loadingService.getLoading() && loadingService.getLoadingItem() === 'restaurants'">
    <mat-spinner [diameter]="100"mode="indeterminate"></mat-spinner>

    </div>
</div>
