<div class="mobile-page">
  <div class="mobile-header" *ngIf="!loadingService.getLoading()">
    <mat-progress-bar
      class="mobile-loading-header"
      mode="indeterminate"
      *ngIf="
        loadingService.getLoading() &&
        loadingService.getLoadingItem() === 'search' &&
        searchTerm != ''
      "
    ></mat-progress-bar>
    <input
      class="mobile-searchbar"
      type="text"
      placeholder="Search For Restaurant Name..."
      [(ngModel)]="searchTerm"
      (input)="searchRestaurants(searchTerm)"
    />
    <div class="mobile-line-container">
      <div class="mobile-line"></div>
    </div>
  </div>

  <div
    class="mobile-header"
    *ngIf="
      loadingService.getLoading() &&
      loadingService.getLoadingItem() === 'confirmation'
    "
  >
    <mat-progress-bar
      class="mobile-loading-header"
      mode="indeterminate"
      *ngIf="
        loadingService.getLoading() &&
        loadingService.getLoadingItem() === 'search' &&
        searchTerm != ''
      "
    ></mat-progress-bar>
    <input
      class="mobile-searchbar"
      type="text"
      placeholder="Search For Restaurant Name..."
      [(ngModel)]="searchTerm"
      (input)="searchRestaurants(searchTerm)"
    />
    <div class="mobile-line-container">
      <div class="mobile-line"></div>
    </div>
  </div>

  <div
    class="mobile-header"
    *ngIf="
      loadingService.getLoading() &&
      loadingService.getLoadingItem() != 'confirmation'
    "
  >
    <mat-progress-bar
      class="mobile-loading-header"
      mode="indeterminate"
      *ngIf="
        loadingService.getLoading() &&
        loadingService.getLoadingItem() === 'search' &&
        searchTerm != ''
      "
    ></mat-progress-bar>
    <input
      class="mobile-searchbar"
      type="text"
      placeholder="Search For Restaurant Name..."
      [(ngModel)]="searchTerm"
      (input)="searchRestaurants(searchTerm)"
    />
    <div class="mobile-line-container">
      <div class="mobile-line"></div>
    </div>
  </div>

  <div class="mobile-content" *ngIf="restaurants.length > 0">
    <mat-card
      class="mobile-card"
      *ngFor="let restaurant of filteredRestaurants"
    >
      <mat-card-title class="mobile-card-header"
        ><p>{{ restaurant.details.name }}</p></mat-card-title
      >

      <mat-card-content class="mobile-income"
        >${{
          restaurant.admin.overallIncome - 0.01 | number : "1.2-2"
        }}</mat-card-content
      >
      <div class="mobile-card-footer">
        <div class="mobile-card-footer-icons-container">
          <mat-icon
            *ngIf="!loadingService.getLoading()"
            class="mobile-card-icons"
            (click)="restaurant._id ? restaurantPage(restaurant._id) : null"
            aria-hidden="false"
            aria-label="edit icon"
            fontIcon="edit"
          ></mat-icon>
          <mat-icon
            *ngIf="!loadingService.getLoading()"
            class="mobile-card-icons"
            (click)="
              restaurant._id
                ? delete(restaurant._id, restaurant.details.name)
                : null
            "
            aria-hidden="false"
            aria-label="delete icon"
            fontIcon="delete"
          ></mat-icon>

          <mat-icon
            *ngIf="loadingService.getLoading()"
            class="mobile-card-icons-disabled"
            aria-hidden="false"
            aria-label="edit icon"
            fontIcon="edit"
          ></mat-icon>
          <mat-icon
            *ngIf="loadingService.getLoading()"
            class="mobile-card-icons-disabled"
            aria-hidden="false"
            aria-label="delete icon"
            fontIcon="delete"
          ></mat-icon>
        </div>

        <mat-progress-bar
          *ngIf="
            loadingService.getLoading() &&
            this.editingRestaurantId === restaurant._id &&
            loadingService.getLoadingItem() === 'delete'
          "
          mode="indeterminate"
        ></mat-progress-bar>

        <mat-progress-bar
          *ngIf="
            loadingService.getLoading() &&
            this.editingRestaurantId === restaurant._id &&
            loadingService.getLoadingItem() === 'edit'
          "
          mode="indeterminate"
        ></mat-progress-bar>
      </div>
    </mat-card>
  </div>

  <div
    class="mobile-message"
    *ngIf="
      filteredRestaurants.length < 1 &&
      restaurants.length > 0 &&
      !loadingService.getLoading()
    "
  >
    <h1>No Restaurants Have Been Found With That Search...</h1>
  </div>
  <div
    class="mobile-message"
    *ngIf="restaurants.length < 1 && !loadingService.getLoading()"
  >
    <h1>No Restaurants Have Been Added Yet...</h1>
  </div>
  <div class="mobile-footer">
    <mat-icon
      class="mobile-icons"
      *ngIf="!loadingService.getLoading()"
      (click)="addRestaurant()"
      aria-hidden="false"
      aria-label="add icon"
      fontIcon="add"
    ></mat-icon>
    <mat-icon
      class="mobile-icons"
      *ngIf="!loadingService.getLoading()"
      (click)="logout()"
      aria-hidden="false"
      aria-label="logout icon"
      fontIcon="logout"
    ></mat-icon>

    <mat-icon
      class="mobile-icons-disabled"
      *ngIf="loadingService.getLoading()"
      (click)="addRestaurant()"
      aria-hidden="false"
      aria-label="add icon"
      fontIcon="add"
    ></mat-icon>
    <mat-icon
      class="mobile-icons-disabled"
      *ngIf="loadingService.getLoading()"
      (click)="logout()"
      aria-hidden="false"
      aria-label="logout icon"
      fontIcon="logout"
    ></mat-icon>
  </div>
  <div class="mobile-loading" *ngIf="loadingService.getLoading() && loadingService.getLoadingItem() === 'restaurants'">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

