<div class="container">
  <div class="leftContainer">
    <div class="searchBarContainer">
      <input class="searchbar" type="text" placeholder="SEARCH FOR A RESTAURANT" (input)="searchRestaurants($any($event.target).value)">

    </div>
    <div class="restaurantContainer">
      <div class="restaurantItem" *ngFor="let restaurant of restaurants" (click)="restaurant._id ? restaurantPage(restaurant._id) : null">
        <h3>{{ restaurant.details.name }}</h3>
        <h3><span *ngIf="restaurant.admin.isActive; else notLive">Live</span><ng-template #notLive>Not Live</ng-template></h3>

        <h3>Overall Income: {{ restaurant.admin.overallIncome - 0.01 }}</h3>
        <p>{{restaurant._id}}</p>
      </div>
    </div>
  </div>
  <div class="rightContainer">
    <div class="buttonsContainer">
      <button class="buttonClass" (click)="addRestaurant()" >ADD RESTAURANT</button>
      <button class="buttonClass" (click)="ownerDashboard()"> OWNERS DASHBOARD</button>
      <button class="buttonClass" (click)="logout()" >LOGOUT</button>
    </div>
    <h2>TOTAL LIVE RESTAURANTS: {{totalLiveRestaurants}}</h2>
    <h2>TOTAL CASH MADE: $ {{totalAmountMade}}</h2>

    <div class="branding">
      <h1>ORDER<br>FEAST</h1>
      <h2>SIMPLIFY ORDERING.<br>AMPLIFY YOUR SUCCESS.</h2>
  </div>
  </div>


</div>













<!-- <div class="adminContainer">
  <input class="searchbar" type="text" placeholder="Search by restaurant unique name..." (input)="searchRestaurants($any($event.target).value)">
  <div class="topButtons">
    
    <button  class="button" aria-label="addRestaurant" (click)="addRestaurant()">Add New</button>
    <button class="button" aria-label="logout" (click)="logout()">Logout</button>
  </div>








  
  <div class="restaurants-container">
    <div class="row">
      <div class="restaurant-item" *ngFor="let restaurant of restaurants">
        <h3>{{ restaurant.details.name }}</h3>
        <p>Is active? {{ restaurant.admin.isActive }}</p>
        <p>Overall Income: {{ restaurant.admin.overallIncome }}</p>
      </div>
    </div>
    
      <ng-template #noRestaurants>
        <p>No restaurants available.</p>
      </ng-template>
    
  </div>
</div> -->


