.container {
  display: flex;
  min-height: 100vh; /* Cover the full viewport height */
  background-color: var(--darkestBlue);
}

.leftContainer {
  width: 53.23vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.875rem;
}

.leftContainer .searchbar{
  width: 56.25rem;
  height: 6rem;
  border-radius: 6.25rem;
  border: none;
  text-align: center;
  font-size: 2.3125rem;
  margin-bottom: 2.875rem;
  position: sticky;


}

.leftContainer .searchbar::placeholder {
  color: var(--darkestBlue);
  font-size: 2.3125rem;



}
.leftContainer .searchbar:focus {
  outline: none;
  
}
.leftContainer .searchbar:-webkit-autofill,
.leftContainer .searchbar:-webkit-autofill:hover, 
.leftContainer .searchbar:-webkit-autofill:focus, 
.leftContainer .searchbar:-webkit-autofill:active  {
  transition: background-color 5000s ease-in-out 0s; /* Attempt to delay the autofill style */
  -webkit-text-fill-color: var(--lightTan) !important;
}
.leftContainer .searchbar:focus::placeholder {
  color: transparent;
}


.leftContainer .restaurantContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.875rem;


}

.leftContainer .restaurantContainer .restaurantItem{
  background-color: var(--lightTan);
  height:10.625rem;
  width: 26.25rem;

}

.rightContainer {
  width: 50vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}