.adminContainer {
    display: grid; /* Use grid layout */
    grid-template-columns: auto auto; /* Two columns: one for buttons, one for search bar */
    justify-content: space-between; /* Space between the two main elements */
    align-items: center;
    margin: 20px;
  }
  
  .adminContainer .searchbar {
    width: 60vw;
    height: 5vh;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding-left: 2%;
    /* No need for margin-left: auto; */
  }
  
  .adminContainer .topButtons {
    display: flex;
    justify-content: flex-start; /* Buttons align to the start of their grid cell */
  }
  
  .adminContainer .topButtons .button {
    width: 6vw;
    height: 5vh;
    border-radius: 20px;
    margin-right: 20px; /* Adjusted to margin-right for spacing between buttons */
    background-color: #CF6679;
    color: white;
    text-align: center;
    cursor: pointer;
  }

  .adminContainer .topButtons .button:hover{
    background-color: #ffffff;
  }
  .restaurants-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Center vertically */
    margin-top: 10vh;
    width: 60vw;
    padding: 40px; /* Optional: Add padding for better spacing */
  }

  
  .restaurant-card {
    background-color: #f9f9f9;


    text-align: left;
    margin: 20px;
    width: 20vw; /* Adjust width as needed */
    height: 20vh; /* Adjust height as needed */
    color: rgb(0, 0, 0);
    border: 1.5px solid #000000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .restaurant-card h2, h3, h4, p{
    margin-top: 10px;
    background-color: #f9f9f9;




  }

  .restaurant-card income{
    margin-top: 105px;
    background-color: rgb(0, 0, 0);
  }
  

  

  