.title {
    background-color: rgb(0, 0, 44);
    text-align: center;
    color: white;
    font-size: 30px;


  }
  
  mat-dialog-content {
    padding-bottom: 0; /* Remove padding at the bottom */
  }
  .addNewContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the cross axis */
    justify-content: flex-start; /* Align items to the start of the main axis */
    background-color: rgb(0, 0, 44);
    padding: 20px; /* Add padding for better spacing */
    padding-bottom: 0;
  }
  
  form {
    padding-top: 20px;
    overflow-y: none;
    background-color: rgb(0, 0, 44);
  }
  
  .addNewContainer .input {
    color: rgb(0, 0, 44);
    padding-top: 50px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px; /* Add margin between inputs */
    width: 40%; /* Ensure inputs take up full width */
    padding: 10px; /* Adjust padding for better spacing */
    margin-top: 20px;
    text-align: center;

  }
  
  textarea {
    margin-top: 20px;
    color: rgb(0, 0, 44);
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px; /* Add margin between inputs */
    margin-bottom: 10px; /* Add margin between inputs */
    width: 90%; /* Ensure inputs take up full width */
    padding: 10px; /* Adjust padding for better spacing */
    padding-bottom: 0;
    height: 100px; /* Set a specific height for textarea */
  }


  mat-label {
    text-align: left;
    color: white;
    font-size: 20px;
    background-color: rgb(0, 0, 44);

  }
  
  .owner-container {
    width: 100%; /* Make the owner container take up full width */
    margin-top: 10px; /* Add margin between inputs */
    background-color: rgb(0, 0, 44);
    padding-bottom: 0;

  }
  
  button{
    color: rgb(0, 0, 44);
    padding-top: 50px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px; /* Add margin between inputs */
    width: 50%; /* Ensure inputs take up full width */
    padding: 10px; /* Adjust padding for better spacing */
    margin-top: 80px;
    text-align: center;
  }
 .buttons{
    display: flex;
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Align items to the start of the cross axis */
    justify-content: flex-start;
    width:80%;
    background-color: rgb(0, 0, 44);

    padding: 20px; /* Add padding for better spacing */

 }