<div class="container">
  <h1>ADD ADMIN</h1>
  <div class="inputContainer">
    <input
      type="text"
      class="formInput"
      [(ngModel)]="user.email"
      name="name"
      placeholder="Enter Email"
      required
    />

  </div>
  <div class="inputContainer">
    <div *ngIf="errorMsg != ''">
      <p>{{ errorMsg }}</p>
    </div>
  </div>
  <div class="textBox">
    <h2>Temp Password: 'Welcome1'.</h2>
  </div>
  <div class="buttonContainer">
    <button class="button" (click)="submitForm()">SUBMIT</button>
    <button class="button" (click)="cancel()">CANCEL</button>
  </div>
</div>
>
