<div class="container">
    <h1>EDIT OWNER</h1>
    <div class="inputContainer">
      <input
        type="email"
        class="formInput"
        [(ngModel)]="user.email"
        name="name"
        placeholder="Enter Email"
        required
        disabled
      />
    </div>
    <div class="inputContainer">
      <div *ngIf="errorMsg != ''">
        <p>{{ errorMsg }}</p>
      </div>
    </div>
    <div class="textBox">
      <h2>Temp Password: 'Welcome1'. Delete the user before trying to change the email.</h2>
    </div>
    <div class="buttonContainer">
      <button class="button" (click)="cancel()">CANCEL</button>
    </div>
    <div class="buttonContainer">
      <button class="buttonDelete" (click)="delete()">DELETE</button>
      <button class="buttonDelete" (click)="reset()">RESET</button>

    </div>
  </div>
  
  