<div class="container">
    <div class="loginContainer">
        <div class="loginFormContainer">
            
        </div>
    </div>
    <div class="brandingContainer">
        
    </div>

</div>










<!-- 

<div class="loginPageContainer">
    <div class="leftContainer">
        <div class="textContainer">
            <img class="logo" title="logo" src="../../../assets/images/OnlineOrderingImage-removebg-preview.png">
            <h1>Login</h1>
            <form (ngSubmit)="onSubmit()">
                <div class="formInputContainer">
                    <input type="email" class="formInput" [(ngModel)]="user.email" name="email" placeholder="Email" required>
                    <input type="password" class="formInput" [(ngModel)]="user.password" name="password" placeholder="Password" required>
		            <button type="submit" class="formInputLogin">Login</button>
                    <a class="forgotPassword" href="">Forgot Password?</a>
                </div>
		    </form>
        </div>
    </div>

    <div class="rightContainer">
        <img class="image" title="OnlineOrderingImage" src="../../../assets/images/OnlineOrderingImage-removebg-preview.png">
    </div>
        

</div> -->