<div class="page-container-small">
  <div class="header-container">
    <div class="header">
      <h1>ORDER FEAST</h1>
    </div>
  </div>
  <div class="content-container">
    <div class="content">
      <h2>Sign into owner dashboard</h2>
      <div class="inputs">
        <form (ngSubmit)="onSubmit()">
          <input
            type="email"
            class="input-text"
            [(ngModel)]="user.email"
            name="email"
            placeholder="Email..."
            (keydown.enter)="triggerLogin()"
            [class.focus-visible]="isKeyboardNavigation"
            required
          />
          <div class="line-one"></div>
          <input
            type="password"
            class="input-text"
            [(ngModel)]="user.password"
            name="password"
            placeholder="Password..."
            (keydown.enter)="triggerLogin()"
            [class.focus-visible]="isKeyboardNavigation"
            required
          />
          <div class="line-two"></div>
          <div class="errorMessageContainer">
            <div *ngIf="errorMsg != ''">
              <p>{{ errorMsg }}</p>
            </div>
          </div>
        </form>
      </div>
      <div class="buttons">
        <button type="submit" id="loginBtn" (click)="onSubmit()" class="login">Login</button>
        <button class="forgot" (click)="toForgot()">Forgot Password?</button>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <h3 class="footer-text">Simplify Ordering, Amplify your Success</h3>
    <h3 class="footer-text-link">www.orderfeast.com</h3>
    <h3 class="footer-text-copy">Copyright 2024</h3>
  </div>
</div>

<div class="page-container-large">
  <div class="left-container">
    <div class="left-container-content">
      <h2>Sign into owner dashboard</h2>
      <div class="input">
        <form (ngSubmit)="onSubmit()">
          <input
            type="email"
            class="input-text"
            [(ngModel)]="user.email"
            name="email"
            placeholder="Email..."
            required
            [class.focus-visible]="isKeyboardNavigation"
            (keydown.enter)="triggerLogin()"
          />
          <div class="line-one"></div>
          <input
            type="password"
            class="input-text"
            [(ngModel)]="user.password"
            name="password"
            placeholder="Password..."
            required
            [class.focus-visible]="isKeyboardNavigation"
            (keydown.enter)="triggerLogin()"
          />
          <div class="line-two"></div>
          <div class="errorMessageContainer">
            <div *ngIf="errorMsg != ''">
              <p>{{ errorMsg }}</p>
            </div>
          </div>
        </form>
      </div>
      <div class="buttons">
        <button type="submit" id="loginBtn" (click)="onSubmit()" class="login">Login</button>
        <button class="forgot" (click)="toForgot()" >Forgot Password?</button>

      </div>
    </div>
    <div class="copyright">
      <h3>Copyright 2024</h3>
    </div>
  </div>

  <div class="right-container">
    <h1>ORDER</h1>
    <h1>FEAST</h1>
    <div class="row">
      <h2 class="saying">Simplify Ordering</h2>
      <h2 class="line">|</h2>
      <h2 class="saying">Amplify Success</h2>

    </div>
  </div>
</div>
