/* Base styles for mobile devices */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container-small {
  background-color: var(--white);
  overflow: hidden;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.page-container-large{
  display: none;
}

.header-container {
  height: 30vh;
}

.header {
  padding-top: 13%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: var(--darkBlue);
}

.content-container {
  margin-top: 6.5rem;
  margin-bottom: 3.5rem;
}

.content {
  margin-left: 11.73%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  color: var(--dark);
  font-weight: 400;
}

.inputs {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.input-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.025rem;
  font-weight: 400;
  color: var(--dark);
  border: none;
  outline: none;
}

.input-text::placeholder {
  color: var(--dark);
  opacity: 1;
}

.line-one, .line-two {
  width: 66.93vw;
  background-color: var(--blue);
  height: 1.5px;
  margin-top: 0.35rem;
}

.line-one {
  margin-bottom: 3.125rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.login, .forgot {
  font-family: "Montserrat", sans-serif;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  &:focus-visible{
    outline: 1px solid var(--darkBlue); /* Change the color and width as needed */
    outline-offset: 4px;
  }
}

.login {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--darkBlue);
  margin-bottom: 1.75rem;
  &:hover{
    color: var(--blue);
    text-decoration: underline;
    text-decoration-color: var(--blue);
    text-underline-offset: 0.35rem;
    text-decoration-thickness: 0.05em;
    cursor: pointer;
  }
}

.forgot {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--darkBlue);
  margin-top: 1rem;
  &:hover{
    color: var(--blue);
    text-decoration: underline;
    text-decoration-color: var(--blue);
    text-underline-offset: 0.35rem;
    text-decoration-thickness: 0.05em;
    cursor: pointer;
  }
}

.footer-container {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.footer-text {
  text-align: center;
  color: var(--darkBlue);
  font-family: "Montserrat", sans-serif;
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  color: var(--dark);
  font-weight: 400;
}

.footer-text-link {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.825rem;
  color: var(--dark);
  margin-bottom: 0.5rem;
  font-weight: 400;
  &:hover{
    color: var(--blue);
    text-decoration: underline;
    text-decoration-color: var(--blue);
    text-underline-offset: 0.35rem;
    text-decoration-thickness: 0.05em;
    cursor: pointer;
  }
}

.footer-text-copy {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.825rem;
  margin-bottom: 0;
  color: var(--dark);
  font-weight: 400;
}

.errorMessageContainer {
  font-family: "Montserrat", sans-serif;
  margin-bottom: -1.5rem;
  margin-top: 0.5rem;
  height: 0.5rem;
}

.errorMessageContainer p {
  font-weight: 400;
  font-size: 0.8rem;
  color: rgb(233, 0, 0);
}

@media (max-width: 480px) {
  .header {
    padding-top: 13%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header {
    padding-top: 9%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding-top: 6%;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .page-container-small {
    display: none;
  }

  .page-container-large {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .left-container {
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .left-container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
  }

  .copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  h3{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
  }
  .right-container {
    background: linear-gradient(to bottom, var(--darkBlue), var(--blue));
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .input {
    margin-top: 3.5rem;
    margin-bottom: 4rem;
  }

  .line-one, .line-two {
    width: 28vw;
    background-color: var(--dark);
    height: 1.5px;
    margin-top: 0.35rem;
  }

  .line-one {
    margin-bottom: 3.125rem;
  }

  .input-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.025rem;
    font-weight: 400;
    color: var(--dark);
    border: none;
    outline: none;
  }

  .input-text::placeholder {
    color: var(--dark);
    opacity: 1;
  }
  h1{
    font-family: "Montserrat", sans-serif;
    font-size: 5.375rem; /* 70px */
    font-weight: 300; /* Regular weight */
    color: var(--white);
    line-height: 2.5rem; /* 40px */
    margin-bottom: 2.5rem; /* Adjust as needed */
    letter-spacing: 6%; /* Adjust as needed */
    /* Assuming paragraph spacing means margin-bottom */
    margin-bottom: 55px; /* Paragraph spacing */
  }


  .saying {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem; /* 40px */
    font-weight: 200; /* Light weight */
    color: var(--gray); /* Adjust color as needed */
    line-height: 2.5rem; /* 40px */
    margin-bottom: 28px; /* Paragraph spacing */
  }
  .row{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
  }

  .line{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem; /* 40px */
    font-weight: 200; /* Light weight */
    color: var(--darkBlue); /* Adjust color as needed */
  }
}



@media (min-width: 1201px) {
  .page-container-small {
    display: none;
  }

  .page-container-large {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .left-container {
    height: 100vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .left-container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
  }

  .copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  h3{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
  }
  .right-container {
    background: linear-gradient(to bottom, var(--darkBlue), var(--blue));
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .input {
    margin-top: 3.5rem;
    margin-bottom: 4rem;
  }

  .line-one, .line-two {
    width: 28vw;
    background-color: var(--dark);
    height: 1.5px;
    margin-top: 0.35rem;
  }

  .line-one {
    margin-bottom: 3.125rem;
  }

  .input-text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.025rem;
    font-weight: 400;
    color: var(--dark);
    border: none;
    outline: none;
  }

  .input-text::placeholder {
    color: var(--dark);
    opacity: 1;
  }
  h1{
    font-family: "Montserrat", sans-serif;
    font-size: 5.375rem; /* 70px */
    font-weight: 300; /* Regular weight */
    color: var(--white);
    line-height: 2.5rem; /* 40px */
    margin-bottom: 2.5rem; /* Adjust as needed */
    letter-spacing: 6%; /* Adjust as needed */
    /* Assuming paragraph spacing means margin-bottom */
    margin-bottom: 55px; /* Paragraph spacing */
  }


  .saying {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem; /* 40px */
    font-weight: 200; /* Light weight */
    color: var(--gray); /* Adjust color as needed */
    line-height: 2.5rem; /* 40px */
    margin-bottom: 28px; /* Paragraph spacing */
  }
  .row{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
  }

  .line{
    font-family: "Montserrat", sans-serif;
    font-size: 2rem; /* 40px */
    font-weight: 200; /* Light weight */
    color: var(--darkBlue); /* Adjust color as needed */
  }
}
