.container {
    display: flex;
    min-height: 100vh; /* Cover the full viewport height */
}

.loginContainer {
    width: 42vw;
    height:100vh;
    background-color: var(--darkerBlue); /* Replace with your desired color */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginFormContainer{
    background-color: var(--darkestBlue);
    width: 36.9375rem;
    height: 49.4375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 1.25rem 0.125rem rgba(0, 0, 0, 0.7);
}

.loginFormContainer h1{
    font-family: 'JetBrainsMono';
    font-size: 5.4375rem;
    letter-spacing: 0.435rem;
    color: var(--lightTan);
    font-weight: 100;
    margin-top: 5.5625rem;
    margin-bottom: 5.25rem;
}

.loginFormContainer .formInput{
    border-radius: 6.25rem;
    width: 23.5625rem;
    height: 5.125rem;
    background-color: var(--darkestBlue);
    border: 0.1875rem solid var(--lightTan);
    text-align: center;
    font-family: 'JetBrainsMono';
    font-size: 2rem;
    letter-spacing: -0.043125rem;
    color: var(--lightTan) !important;
    caret-color: var(--lightBlue);
    margin-bottom: 3.25rem;
}

.loginFormContainer .formInputLogin{
    border-radius: 6.25rem;
    width: 20.375rem;
    height: 5.125rem;
    background-color: var(--darkerBlue);
    text-align: center;
    font-family: 'JetBrainsMono';
    font-size: 1.75rem;
    letter-spacing: -0.043125rem;
    color: var(--darkestBlue) !important;
    margin-bottom: 2rem;
    cursor: pointer;
}

.loginFormContainer .forgotPassword{
    text-align: center;
    font-family: 'JetBrainsMono';
    font-weight: 100;
    font-size: 1.6875rem;
    letter-spacing: -0.043125rem;
    text-decoration: none;
    color: var(--darkerBlue) !important;
    margin-bottom: 3.25rem;
}



.loginFormContainer p{
    text-align: center;
    font-family: 'JetBrainsMono';
    font-weight: 100;
    font-size: 1.2rem;
    color: red;
    margin-top: -2rem;
    letter-spacing: -0.043125rem;

    margin-bottom: 1rem;
}


.loginFormContainer .formInput::placeholder {
    color: var(--lightTan);
    font-size: 2rem;

}
.loginFormContainer .formInput:focus {
    outline: none;
}
.loginFormContainer .formInput:-webkit-autofill,
.loginFormContainer .formInput:-webkit-autofill:hover, 
.loginFormContainer .formInput:-webkit-autofill:focus, 
.loginFormContainer .formInput:-webkit-autofill:active  {
    transition: background-color 5000s ease-in-out 0s; /* Attempt to delay the autofill style */
    -webkit-text-fill-color: var(--lightTan) !important;
}
.loginFormContainer .formInput:focus::placeholder {
    color: transparent;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brandingContainer{
    width: 58vw;

    height:100vh;
    background-color: var(--darkestBlue); /* Replace with your desired color */

}

.brandingContainer .branding{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brandingContainer .branding h1{
    font-family: 'JetBrainsMono';
    font-size: 8.0625rem;
    line-height: 9.375rem;
    text-align: center;
    margin-top: 9rem;
    letter-spacing: 1.45125rem;
    color: var(--lightBlue);
    margin-bottom: 4.75rem;
    font-weight: 300;
    overflow: hidden;
    text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     2px  1px 0 #000; /* Stroke effect */
}

.brandingContainer .branding h2{
    font-family: 'JetBrainsMono';
    font-size: 2.1875rem;
    line-height: 4.875rem;
    text-align: center;
    letter-spacing: 0.48125rem;
    color: var(--lightTan);
    font-weight: 100;
    margin-bottom: 4.75rem;

}
.brandingContainer .branding a{
    font-family: 'JetBrainsMono';
    font-size: 1.375rem;
    text-decoration: none;
    line-height: 4.875rem;
    text-align: center;
    color: var(--darkerBlue);
    font-weight: 100;
}
