h1,
h2,
h3,
h4,
p,
a {
  font-family: "JetBrainsMono";
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: linear-gradient(
    to top,
    var(--lightBlue2),
    var(--darkestBlue)
  );
}

.header{
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
}

.header h1{
  font-size: 1.8rem;
  font-weight: 100;
  color: var(--offWhite) !important;

}

.header p{  
  margin-left: 2.375rem;
  font-size: 1 rem;
  color: red;
  font-family: "JetBrainsMono";
  font-weight: 100;
  font-weight: 100;
  margin-top: .45rem;
}

.header .buttonClass{
  background: none;        /* Remove background color */
  width: auto;             /* Adjust width as necessary */
  height: auto;            /* Adjust height as necessary */
  padding: 0; 
  text-align: center;
  font-family: "JetBrainsMono";
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--offWhite) !important;
  cursor: pointer;
  border: none;

}
.header .buttonContainer{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-right: 6rem;
}

.header .buttonClass:hover {
  text-decoration: underline;
  text-underline-offset: .5rem;
}

.mainContainer {
  display: flex;
  justify-content: center; /* Space between to handle multiple cards */
  padding-top: 1.5rem;
  text-align: center;
}

.mainContainer .card {
  background-color: var(--offWhite);
  border: 1px solid var(--lightTan);
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: 95vw; 
  height: 82vh;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1); /* Subtle shadow for depth */
  font-family: "JetBrainsMono";
  font-weight: 100;
  justify-content: center;

}

.section{
  width: 30vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
}

.section2{
  width: 30vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
}


.inputContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
  color: var(--darkestBlue);
  gap: .5rem;
  font-weight: 100;
}

.inputContainer2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;
  color: var(--darkestBlue);
  gap: .5rem;
  font-weight: 100;
}

.inputContainerTime {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3.5rem;
  color: var(--darkestBlue);
  gap: .5rem;
  font-weight: 100;
}


 h5{
  margin-top: .1rem;
  font-size: .8rem;

}

.inputContainer2 h5{
  margin-top: 2rem;
  font-size: .8rem;
}
.formInputSmall {
  background-color: var(--offWhite);
  width: 10rem;
  height: 2.5rem;
  border-bottom: 0.15rem solid var(--lightBlue2);
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  font-family: "JetBrainsMono";
  font-size: .8rem;
  letter-spacing: -.043125rem;
  color: var(--darkestBlue) !important;
  caret-color: var(--darkestBlue);
  background-color: inherit;
  margin-top: 1.5rem;
}

 .formInput {
  background-color: var(--offWhite);
  width: 15rem;
  height: 2.5rem;
  border-bottom: 0.15rem solid var(--lightBlue2);
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: left;
  font-family: "JetBrainsMono";
  font-size: .8rem;
  letter-spacing: -.043125rem;
  color: var(--darkestBlue) !important;
  caret-color: var(--darkestBlue);
  background-color: inherit;
  margin-top: 1.5rem;
}
 .formInput::placeholder {
  color: var(--darkestBlue) !important;
  font-size: .8rem;

}
 .formInput:focus {
  outline: none;
}
 .formInput:-webkit-autofill,
 .formInput:-webkit-autofill:hover,
 .formInput:-webkit-autofill:focus,
 .formInput:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: var(--darkestBlue) !important;
  font-family: "JetBrainsMono", sans-serif;
  font-size: .8rem;

}

 .formInput:-webkit-autofill::first-line {
  font-family: "JetBrainsMono", sans-serif;
  font-size: .8rem;

}

 .formInput:-webkit-autofill {
  -webkit-box-shadow: none;
  background-color: none;
  font-family: "JetBrainsMono" !important;
  font-size: .8rem !important;
}

 .formInput:focus::placeholder {
  color: transparent;
}

.formInputTextBox {
  background-color: var(--offWhite);
  width: 15rem;
  height: 8.5rem;
  border: 0.10rem solid var(--lightBlue2);
  text-align: left;
  font-family: "JetBrainsMono";
  font-size: .8rem;
  letter-spacing: -.043125rem;
  color: var(--darkestBlue) !important;
  caret-color: var(--darkestBlue);
  background-color: inherit;
  margin-top: 1.5rem;
}
 .formInputTextBox::placeholder {
  color: var(--darkestBlue) !important;
  font-size: .8rem;

}
 .formInputTextBox:focus {
  outline: none;
}formInputTextBox
 .formInputTextBox:-webkit-autofill,
 .formInputTextBox:-webkit-autofill:hover,
 .formInputTextBox:-webkit-autofill:focus,
 .formInputTextBox:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: var(--darkestBlue) !important;
  font-family: "JetBrainsMono", sans-serif;
  font-size: .8rem;

}

 .formInputTextBox:-webkit-autofill::first-line {
  font-family: "JetBrainsMono", sans-serif;
  font-size: .8rem;

}

 .formInputTextBox:-webkit-autofill {
  -webkit-box-shadow: none;
  background-color: none;
  font-family: "JetBrainsMono" !important;
  font-size: .8rem !important;
}

 .formInputTextBox:focus::placeholder {
  color: transparent;
}

.linkLike:hover {
  text-decoration: underline;
  text-underline-offset: .5rem;
}

.linkLike{
  background: none;        /* Remove background color */
  width: auto;             /* Adjust width as necessary */
  height: auto;            /* Adjust height as necessary */
  padding: 0; 
  text-align: center;
  font-family: "JetBrainsMono";
  font-size: 1rem;
  font-weight: 100;
  color: var(--darkestBlue) !important;
  cursor: pointer;
  border: none;
  margin-top: 2rem;

}
