<div class="container">
  <div class="header">
    <h1>Adding New Restaurant</h1>

    <div class="buttonContainer">
      <div *ngIf="errorMsg != ''">
        <p>{{ errorMsg }}</p>
      </div>
      <button class="buttonClass" (click)="submitForm()">Submit</button>
      <button class="buttonClass" (click)="cancel()">Cancel</button>
    </div>
  </div>

    <form [formGroup]="form" class="mainContainer">


      <div formGroupName="details" class="subContainer">
        <mat-form-field class="inputField" appearance="outline">
          <mat-label>Enter Restaurant Name</mat-label>
          <input matInput formControlName="name" required />
          <mat-error *ngIf="form.get(['details', 'name'])?.errors">
            {{ getErrorMessage('details.name') }}
          </mat-error>
          <button class="icon" matSuffix mat-icon-button aria-label="Clear" *ngIf="form.get(['details', 'name'])?.value"
                  (click)="clearInput('details.name')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
    
        <mat-form-field class="inputField" appearance="outline">
          <mat-label>Telephone</mat-label>
          <input  matInput formControlName="phone" />
          <mat-error *ngIf="form.get(['details', 'phone'])?.errors">
            {{ getErrorMessage('details.phone') }}
          </mat-error>
          <button class="icon" matSuffix mat-icon-button aria-label="Clear" *ngIf="form.get(['details', 'phone'])?.value"
                  (click)="clearInput('details.phone')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <div formGroupName="location" class="subContainer">

          <mat-form-field class="inputField" appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" />
            <mat-error *ngIf="form.get(['details', 'location', 'address'])?.errors">
              {{ getErrorMessage('details.location.address') }}
            </mat-error>
            <button class="icon" matSuffix mat-icon-button aria-label="Clear" *ngIf="form.get(['details', 'location', 'address'])?.value"
                    (click)="clearInput('details.location.address')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="inputFieldCity" appearance="outline">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" />
            <mat-error *ngIf="form.get(['details', 'location', 'city'])?.errors">
              {{ getErrorMessage('details.location.city') }}
            </mat-error>
            <button class="icon" matSuffix mat-icon-button aria-label="Clear" *ngIf="form.get(['details', 'location', 'city'])?.value"
                    (click)="clearInput('details.location.city')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="inputFieldState" appearance="outline">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" [class.valid-input]="form.get('state')?.valid && form.get('state')?.value">
            <mat-error *ngIf="form.get(['details', 'location', 'state'])?.errors">
              {{ getErrorMessage('details.location.state') }}
            </mat-error>
            <button class="icon" matSuffix mat-icon-button aria-label="Clear" *ngIf="form.get(['details', 'location', 'state'])?.value"
                    (click)="clearInput('details.location.state')">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        
          
        </div>


        


      </div>
      
      
    </form>

<!-- 
    <mat-form-field class="inputFieldTextArea" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Ex. Here at xxx we serve..."
      ></textarea>
      <mat-error *ngIf="form.get(['details', 'phone'])?.errors">
        {{ getErrorMessage('details.phone') }}
      </mat-error>
      <button class="icon" matSuffix mat-icon-button aria-label="Clear" *ngIf="form.get(['details', 'phone'])?.value"
              (click)="clearInput('details.phone')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> -->


    <!-- <div class="card">
      <div class="section">

        <mat-form-field appearance="outline">
          <mat-label [(ngModel)]="restaurantDetails.details.description"
            >Enter Restaurant Description</mat-label
          >
          <textarea
            matInput
            placeholder="Ex. Here at xxx we serve..."
          ></textarea>
          <!-- @if (restaurantDetails.details.description) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="restaurantDetails.details.description=''">
              <mat-icon>close</mat-icon>
            </button>
          } 
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Enter Address</mat-label>
          <input
            matInput
            placeholder="123 Main Street"
            [(ngModel)]="restaurantDetails.details.location.address"
          />
          @if (restaurantDetails.details.location.address) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="restaurantDetails.details.location.address = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input
            [(ngModel)]="restaurantDetails.details.location.city"
            matInput
            placeholder="Ex. San Francisco"
          />
          @if (restaurantDetails.details.location.city) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="restaurantDetails.details.location.city = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>State</mat-label>
          <input
            [(ngModel)]="restaurantDetails.details.location.state"
            matInput
            placeholder="Ex. CA"
          />
          @if (restaurantDetails.details.location.state) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="restaurantDetails.details.location.state = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Postal Code</mat-label>
          <input
            [(ngModel)]="restaurantDetails.details.location.zipCode"
            matInput
            #postalCode
            maxlength="10"
            placeholder="Ex. 94105"
          />
          @if (restaurantDetails.details.location.zipCode) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="restaurantDetails.details.location.zipCode = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
          <mat-hint align="end">{{ postalCode.value.length }} / 8</mat-hint>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="restaurantDetails.details.ordersEnabled"
          >Enable Orders?</mat-checkbox
        >
      </div>
      <div class="section">
        <div class="inputContainerTime">
          <mat-checkbox
            [(ngModel)]="restaurantDetails.details.operatingHours.monday.isOpen"
            >Monday</mat-checkbox
          >

          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="restaurantDetails.details.operatingHours.monday.open"
            name="mondayOpen"
            [disabled]="!restaurantDetails.details.operatingHours.monday.isOpen"
          />
          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="restaurantDetails.details.operatingHours.monday.close"
            name="mondayClose"
            [disabled]="!restaurantDetails.details.operatingHours.monday.isOpen"
          />
        </div>

        <div class="inputContainerTime">
          <mat-checkbox
            [(ngModel)]="
              restaurantDetails.details.operatingHours.tuesday.isOpen
            "
            >Tuesday</mat-checkbox
          >

          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="restaurantDetails.details.operatingHours.tuesday.open"
            name="tuesdayOpen"
            [disabled]="
              !restaurantDetails.details.operatingHours.tuesday.isOpen
            "
          />
          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="restaurantDetails.details.operatingHours.tuesday.close"
            name="tuesdayClose"
            [disabled]="
              !restaurantDetails.details.operatingHours.tuesday.isOpen
            "
          />
        </div>

        <div class="inputContainerTime">
          <mat-checkbox
            [(ngModel)]="
              restaurantDetails.details.operatingHours.wednesday.isOpen
            "
            >Wednesday</mat-checkbox
          >
          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="
              restaurantDetails.details.operatingHours.wednesday.open
            "
            name="wednesdayOpen"
            [disabled]="
              !restaurantDetails.details.operatingHours.wednesday.isOpen
            "
          />
          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="
              restaurantDetails.details.operatingHours.wednesday.close
            "
            name="wednesdayClose"
            [disabled]="
              !restaurantDetails.details.operatingHours.wednesday.isOpen
            "
          />
        </div>
        <div class="inputContainerTime">
          <mat-checkbox
            [(ngModel)]="
              restaurantDetails.details.operatingHours.thursday.isOpen
            "
            >Thursday</mat-checkbox
          >

          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="restaurantDetails.details.operatingHours.thursday.open"
            name="thursdayOpen"
            [disabled]="
              !restaurantDetails.details.operatingHours.thursday.isOpen
            "
          />
          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="
              restaurantDetails.details.operatingHours.thursday.close
            "
            name="thursdayClose"
            [disabled]="
              !restaurantDetails.details.operatingHours.thursday.isOpen
            "
          />
        </div>
        <div class="inputContainerTime">
          <mat-checkbox
            [(ngModel)]="restaurantDetails.details.operatingHours.friday.isOpen"
            >Friday</mat-checkbox
          >

          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="restaurantDetails.details.operatingHours.tuesday.open"
            name="fridayOpen"
            [disabled]="!restaurantDetails.details.operatingHours.friday.isOpen"
          />
          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="restaurantDetails.details.operatingHours.friday.close"
            name="fridayClose"
            [disabled]="!restaurantDetails.details.operatingHours.friday.isOpen"
          />
        </div>
        <div class="inputContainerTime">
          <mat-checkbox
            [(ngModel)]="
              restaurantDetails.details.operatingHours.saturday.isOpen
            "
            >Saturday</mat-checkbox
          >

          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="restaurantDetails.details.operatingHours.saturday.open"
            name="saturdayOpen"
            [disabled]="
              !restaurantDetails.details.operatingHours.saturday.isOpen
            "
          />
          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="
              restaurantDetails.details.operatingHours.saturday.close
            "
            name="saturdayClose"
            [disabled]="
              !restaurantDetails.details.operatingHours.saturday.isOpen
            "
          />
        </div>
        <div class="inputContainerTime">
          <mat-checkbox
            [(ngModel)]="restaurantDetails.details.operatingHours.sunday.isOpen"
            >Sunday</mat-checkbox
          >

          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="restaurantDetails.details.operatingHours.sunday.open"
            name="sundayOpen"
            [disabled]="!restaurantDetails.details.operatingHours.sunday.isOpen"
          />
          <input
            type="time"
            class="formInputTime"
            [(ngModel)]="restaurantDetails.details.operatingHours.sunday.close"
            name="sundayClose"
            [disabled]="!restaurantDetails.details.operatingHours.sunday.isOpen"
          />
        </div>
      </div>

      <div class="section2">
        <mat-form-field appearance="outline">
          <mat-label>Stripe ID</mat-label>
          <input
            [(ngModel)]="restaurantDetails.stripe.stripeAccountId"
            matInput
            placeholder="Ex. 123few34q32"
          />
          @if (restaurantDetails.stripe.stripeAccountId) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="restaurantDetails.stripe.stripeAccountId = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Fixed Rate</mat-label>
          <input
            [(ngModel)]="restaurantDetails.admin.fixedRate"
            matInput
            placeholder="Ex. 0.02"
          />
          @if (restaurantDetails.admin.fixedRate) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="restaurantDetails.admin.fixedRate = 0.0"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>

        <mat-checkbox [(ngModel)]="restaurantDetails.admin.isActive"
          >Is Restaurant Active?</mat-checkbox
        >

        <mat-checkbox [(ngModel)]="restaurantDetails.stripe.addFees"
          >Add Fees To Customer?</mat-checkbox
        >

        <a for="fileInput" class="linkLike" (click)="openOwnerDialog()"
          >Owner Add / Edit</a
        >
      </div>
    </div> -->
  
</div>
