h1,
h2,
h3,
h4,
p,
a {
  font-family: "JetBrainsMono";
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--offWhite3);
}

.header{
  height: 5vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
}

.header h1{
  font-size: 1.8rem;
  font-weight: 100;
  color: var(--darkestBlue) !important;

}

.header p{  
  margin-left: 2.375rem;
  font-size: 1 rem;
  color: red;
  font-family: "JetBrainsMono";
  font-weight: 100;
  font-weight: 100;
  margin-top: .45rem;
}

.header .buttonClass{
  background: none;        /* Remove background color */
  width: auto;             /* Adjust width as necessary */
  height: auto;            /* Adjust height as necessary */
  padding: 0; 
  text-align: center;
  font-family: "JetBrainsMono";
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--darkestBlue) !important;
  cursor: pointer;
  border: none;

}
.header .buttonContainer{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-right: 6rem;
}

.header .buttonClass:hover {
  text-decoration: underline;
  text-underline-offset: .5rem;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.5rem;
  padding: 5rem;
  align-items: start;
  text-align: center;
}

.subContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.icon{
  background-color: inherit;
  border: none;
  outline: none;
  margin-right: .5rem;
  cursor: pointer;

}








