:root {
    --lightBlue: #D7F9FF;
    --lightBlue2: #8fb5bc;

    --darkerBlue: #AFCBFF;
    --darkestBlue: #0E1C36;
    --lightTan: #F9FBF2;
    --offWhite: #fefefe;
    --offWhite2: #f9f9f9;
    --offWhite3: #ecebeb;

    --lightOrange: #FFEDE1;




    --light: #b8bfbc;
    --middle: #A5AFAB;
    --dark: #818181;
    --darker: #111312;

    --black: #000000;
    --white: #ffffff;





}

*{
    margin:0;
}
html {
    font-size: 16px; /* Set your desired font size here */
  }
  


@font-face {
    font-family: 'JetBrainsMono';
    src: url('assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Override default snackbar label styles */
.mat-mdc-snack-bar-label {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  visibility: visible !important;
  opacity: 100% !important;
}

.mdc-snackbar__label {
  padding: 0 !important;
  margin: 0 !important;
}

.mat-mdc-snack-bar-container {
  background: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  border: none !important;
}

.mdc-snackbar__surface {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  visibility: visible !important;
  opacity: 100% !important;
}
