:root {

  --white: #ffffff;
  --silver: #EDEEEB;
  --gray: #CCC7BF;
  --dark: #31393C;
  --blue: #3E96F4;
  --darkBlue: #00509E;





}

*{
    margin:0;
}
html {
    font-size: 16px; /* Set your desired font size here */
  }
  


@font-face {
    font-family: 'montserrat';
    src: url('assets/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Override default snackbar label styles */
.mat-mdc-snack-bar-label {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  visibility: visible !important;
  opacity: 100% !important;
}

.mdc-snackbar__label {
  padding: 0 !important;
  margin: 0 !important;
}

.mat-mdc-snack-bar-container {
  background: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  border: none !important;
}

.mdc-snackbar__surface {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
  visibility: visible !important;
  opacity: 100% !important;
}
