<div class="mainContainer">
  <form (ngSubmit)="submitForm()">
  <h1>Add New Restaurant</h1>

    <div *ngIf="currentStep === 1">
      <input
        type="text"
        class="formInput"
        id="restaurantName"
        [(ngModel)]="restaurantDetails.details.name"
        name="restaurantName"
        placeholder="Enter restaurant name"
        required
      />
    </div>

    <div *ngIf="currentStep === 2">
      <h2>Restaurant Details</h2>

      <div class="inputContainerTwo">
        <input
          type="file"
          class="formInputFile"
          id="logo"
          [(ngModel)]="restaurantDetails.details.logo"
          name="logo"
          placeholder="LOGO"
        />
        <input
          type="text"
          class="formInputDescription"
          id="description"
          [(ngModel)]="restaurantDetails.details.description"
          name="description"
          placeholder="Enter description"
        />

        <input
          type="text"
          class="formInput"
          id="phone"
          [(ngModel)]="restaurantDetails.details.phone"
          name="phone"
          placeholder="Enter phone number"
        />
      </div>
      <h2>Restaurant Location</h2>

      <div class="inputContainerTwo">
        <input
          type="text"
          class="formInput"
          id="address"
          [(ngModel)]="restaurantDetails.details.location.address"
          name="address"
          placeholder="Enter street address"
        />

        <input
          type="text"
          class="formInput"
          id="city"
          [(ngModel)]="restaurantDetails.details.location.city"
          name="city"
          placeholder="Enter City"
        />

        <input
          type="text"
          class="formInput"
          id="state"
          [(ngModel)]="restaurantDetails.details.location.state"
          name="state"
          placeholder="Enter State"
        />

        <input
          type="text"
          class="formInput"
          id="zipCode"
          [(ngModel)]="restaurantDetails.details.location.zipCode"
          name="zipCode"
          placeholder="Enter Zip Code"
        />
      </div>

      <h2>Restaurant Hours</h2>
      <div class="week-container" *ngIf="currentStep === 2">
        <div *ngFor="let day of ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']" class="day-container">
          <div class="inputContainerThree">
            <h4>{{ day | titlecase }} Open?</h4>
            <input type="checkbox" [(ngModel)]="restaurantDetails.details.operatingHours[day].isOpen" [name]="day + 'IsOpen'" />
          </div>
      
          <div *ngIf="restaurantDetails.details.operatingHours[day].isOpen">
            <input type="text" class="formInputToo" [(ngModel)]="restaurantDetails.details.operatingHours[day].open" [name]="day + '.isOpen.open'" placeholder="Open time (HH:MM)" />
            <input type="text" class="formInputToo" [(ngModel)]="restaurantDetails.details.operatingHours[day].close" [name]="day + '.isOpen.close'" placeholder="Close time (HH:MM)" />
          </div>
        </div>
      </div>
    

    
    </div>
    <button type="button" class="btnRounded" (click)="submitForm()">Next</button>
    <button type="submit" class="btn" *ngIf="currentStep > 2">Submit</button>
    <div *ngIf="errorMsg != ''">
      <p class="errorClass">{{ errorMsg }}</p>
    </div>
  </form>

</div>

<!-- Additional steps and form controls here -->

<!-- Submit button -->
  <!-- <h2>Restaurant Hours</h2>
      <div>{{ restaurantDetails.details.operatingHours.monday.isOpen }}</div>
      <div class="week-container" *ngIf="currentStep === 2">
        <ng-container *ngFor="let dayKey of getOperatingHoursKeys()">
          <div class="inputContainerThree">
            <input
              type="checkbox"
              [(ngModel)]="restaurantDetails.details.operatingHours[dayKey].isOpen"
              [id]="dayKey + 'IsOpen'"
              class="checkbox"
            />
            <label [for]="dayKey + 'IsOpen'">{{ dayKey | titlecase }}</label>
      
            <div *ngIf="restaurantDetails.details.operatingHours[dayKey].isOpen">
              <input
                type="text"
                class="formInput"
                [(ngModel)]="restaurantDetails.details.operatingHours[dayKey].open"
                [id]="dayKey + 'OpenTime'"
                placeholder="Open time (HH:MM)"
              />
              <input
                type="text"
                class="formInput"
                [(ngModel)]="restaurantDetails.details.operatingHours[dayKey].close"
                [id]="dayKey + 'CloseTime'"
                placeholder="Close time (HH:MM)"
              />
            </div>
          </div>
        </ng-container>
      </div> -->