<div class="container">
  <div class="headerContainer">
    <div class="leftHeaderContainer">
      <h1>ADD NEW RESTAURANT</h1>
    </div>
    <div class="rightHeaderContainer">
      <button class="buttonClass" (click)="submitForm()" >SUBMIT</button>
      <button class="buttonClass" (click)="cancel()" >CANCEL</button>
      <button class="buttonClass" (click)="logout()" >LOGOUT</button>
    </div>
  </div>

  <div class="bottomContainer">
    <div class="bottomLeftContainer">
      <div class="inputContainer">
        <h1>DETAILS: </h1>
        <input type="file" id="fileInput" class="hiddenInput" [(ngModel)]="restaurantDetails.details.logo" name="logo">
        <label for="fileInput" class="linkLike">Upload Logo</label>
      </div>

      <div class="inputContainer">
        <h2>NAME: </h2>
        <input type="text" class="formInput" [(ngModel)]="restaurantDetails.details.name" name="name" required>
      </div>

      <div class="inputContainer">
        <h2>PHONE: </h2>
        <input type="string" class="formInput" [(ngModel)]="restaurantDetails.details.phone" name="phone">
      </div>

      <div class="inputContainer">
        <h2>DESC: </h2>
        <textarea [(ngModel)]="restaurantDetails.details.description" name="inputName"  class="formInputTextBox"></textarea>
      </div>

      <div class="inputContainer">
        <h2>STREET: </h2>
        <input type="string" class="formInput" [(ngModel)]="restaurantDetails.details.location.address" name="address">
      </div>

      <div class="inputContainer">
        <h2>CITY: </h2>
        <input type="string" class="formInput" [(ngModel)]="restaurantDetails.details.location.city" name="city">
      </div>

      <div class="inputContainer">
        <h2>STATE: </h2>
        <input type="string" class="formInputSmall" [(ngModel)]="restaurantDetails.details.location.state" name="state">
        <h2>ZIP: </h2>
        <input type="string" class="formInputSmall" [(ngModel)]="restaurantDetails.details.location.zipCode" name="zipCode">
      </div>


    </div>
    <div class="bottomMiddleContainer">

    </div>

    <div class="bottomRightContainer">

    </div>
  </div>
  

</div>