<div class="mainContainer">
  <form (ngSubmit)="submitForm()">
    <h1>Add New Restaurant</h1>

    <div *ngIf="currentStep === 1">
      <input
        type="text"
        class="formInput"
        id="restaurantName"
        [(ngModel)]="name"
        name="restaurantName"
        placeholder="Enter restaurant name"
        required
      />
    </div>

    <div *ngIf="currentStep === 2">
      <h2>Restaurant Details</h2>

      <div class="inputContainerTwo">
        <input
          type="file"
          class="formInputFile"
          id="logo"
          [(ngModel)]="restaurantDetails.details.logo"
          name="logo"
          placeholder="LOGO"
        />
        <input
          type="text"
          class="formInputDescription"
          id="description"
          [(ngModel)]="restaurantDetails.details.description"
          name="description"
          placeholder="Enter description"
        />

        <input
          type="text"
          class="formInput"
          id="phone"
          [(ngModel)]="restaurantDetails.details.phone"
          name="phone"
          placeholder="Enter phone number"
        />
      </div>
      <h2>Restaurant Location</h2>

      <div class="inputContainerTwo">
        <input
          type="text"
          class="formInput"
          id="address"
          [(ngModel)]="restaurantDetails.details.location.address"
          name="address"
          placeholder="Enter street address"
        />

        <input
          type="text"
          class="formInput"
          id="city"
          [(ngModel)]="restaurantDetails.details.location.city"
          name="city"
          placeholder="Enter City"
        />

        <input
          type="text"
          class="formInput"
          id="state"
          [(ngModel)]="restaurantDetails.details.location.state"
          name="state"
          placeholder="Enter State"
        />

        <input
          type="text"
          class="formInput"
          id="zipCode"
          [(ngModel)]="restaurantDetails.details.location.zipCode"
          name="zipCode"
          placeholder="Enter Zip Code"
        />
      </div>

      <h2>Restaurant Hours</h2>
      <div class="week-container" *ngIf="currentStep === 2">
        <div
          *ngFor="
            let day of [
              'monday',
              'tuesday',
              'wednesday',
              'thursday',
              'friday',
              'saturday',
              'sunday'
            ]
          "
          class="day-container"
        >
          <div class="inputContainerThree">
            <h4>{{ day | titlecase }} Open?</h4>
            <input
              type="checkbox"
              [(ngModel)]="restaurantDetails.details.operatingHours[day].isOpen"
              [name]="day + 'IsOpen'"
            />
          </div>

          <div *ngIf="restaurantDetails.details.operatingHours[day].isOpen">
            <input
              type="text"
              class="formInputToo"
              [(ngModel)]="restaurantDetails.details.operatingHours[day].open"
              [name]="day + '.isOpen.open'"
              placeholder="Open time (HH:MM)"
            />
            <input
              type="text"
              class="formInputToo"
              [(ngModel)]="restaurantDetails.details.operatingHours[day].close"
              [name]="day + '.isOpen.close'"
              placeholder="Close time (HH:MM)"
            />
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentStep === 3">
      <h2>Restaurant Admin & Stripe</h2>

      <input
        type="text"
        class="formInput"
        id="fixedRate"
        [(ngModel)]="restaurantAdminStripe.admin.fixedRate"
        name="fixedRate"
      />
      <input
        type="checkbox"
        class="formInput"
        id="addFees"
        [(ngModel)]="restaurantAdminStripe.stripe.addFees"
        name="addFees"
      />
      <input
        type="text"
        class="formInput"
        id="stripeAccountId"
        [(ngModel)]="restaurantAdminStripe.stripe.stripeAccountId"
        name="stripeAccountId"
      />
    </div>

    <button type="button" class="btnRounded"  *ngIf="currentStep <= 2" (click)="submitForm()">
      Next
    </button>
    <button type="submit" class="btn" (click)="submitForm()" *ngIf="currentStep > 2">Submit</button>
    <div *ngIf="errorMsg != ''">
      <p class="errorClass">{{ errorMsg }}</p>
    </div>
  </form>
</div>
